{{#each post in model}}
  <p><span class="label info">{{time-ago-in-words post.createdAt}}</span>{{post.text}}</p>
{{/each}}

<form {{action "send" on="submit"}}>
  {{input type="text" value=text}}
  {{input type="submit" value="Send" class="button"}}
</form>